/*default init */
@charset "UTF-8";
@import "fontawesome/css/all.min.css";
@font-face {
	src:url('NotoSansKR-Black.otf');
	font-family: "noto";
	font-weight: 700;
}

@font-face {
	src:url('NotoSansKR-Bold.otf');
	font-family: "noto";
	font-weight: 500;
}

@font-face {
	src:url('NotoSansKR-Medium.otf');
	font-family: "noto";
	font-weight: 400;
}

@font-face {
	src:url('NotoSansKR-Regular.otf');
	font-family: "noto";
	font-weight: 300;
}

@font-face {
	src:url('NotoSansKR-Light.otf');
	font-family: "noto";
	font-weight: 200;
}

@font-face {
	src:url('NotoSansKR-Thin.otf');
	font-family: "noto";
	font-weight: 100;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'noto';
	font-weight: 400;
}

::-webkit-scrollbar {
	display: none;
}

body {
	overflow-x: hidden;
	/*overflow: hidden;*/
	height: 100vh;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

.div-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

/* default init */

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    min-width: 1340px;
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #fff7;
}

nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav > ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

/*nav > ul::after {
	content: '';
	display: block;
	clear: both;
}*/

nav > ul > li {
	/*float: left;*/
    min-width: 150px;
    text-align: center;
}

nav > ul > li > strong {
    display: block;
    padding: 34px 70px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

nav > ul > li > strong > span {
	position: relative;
	display: block;
}

nav > ul > li > strong > span::after {
	content: '';
    position: absolute;
    top: 53px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #295ebe;
    transform: translateX(-50%);
}

nav > ul > li:hover > strong > span::after {
	width: 100%;
	transition: width .5s ease-in-out;
}

nav > ul > li:hover > strong {
	color: #295ebe !important;
}

nav > ul > li > ul {
	display: none;
	padding: 30px 0;
}

nav > ul > li > ul > li {
	padding: 10px 0;
}

nav > ul > li > ul > li > a:hover {
	color: #295ebe !important;
}

nav > ul:hover > li > strong {
	color: #000;
}

nav > ul:hover > li > ul {
	display: block;
}

header.header-hover > nav > ul {
	background-color: #fffc;
}


.header-hover::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#logo {
	font-size: 1.6em;
	font-weight: 500;
	color: #fff;
	position: absolute;
	top: 27px;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	left: 100px;
}

#logo.logo-hover {
	color: #295ebe;
}

.is-sticky::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.is-sticky #logo {
	color: #295ebe;
}

.is-sticky > nav > ul > li > strong {
	color: #000;
}


/* header  */


/* section admin */
.sec {
	width: 100%;
	height: 100vh;
	position: relative;
}

/* section admin */

/* slider section */


.slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.slider > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.0);
	filter: brightness(80%);
	z-index: -1;
	display: none;
}

.slider-container {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

.slider-title {
	color: #fff;
	font-size: 50px;
	font-weight: 100;
	transform: translateY(0px);
}

.slider-title-bold {
	color: #fff;
	font-size: 60px;
	font-weight: 500;
}

.slider-circles {
	display: flex;
	position: absolute;
	bottom: 300px;
	margin-top: 10px;
	z-index: 1;
}

.slider-circle {
	width: 10px;
	height: 10px;
	border:1px solid #fff;
	border-radius: 100%;
	margin: 0 3px;
}

.slider-circle.active {
	background-color: #fff;
}

.mouse {
	width: 20px;
	height: 34px;
	border:2px solid #fff;
	border-radius: 10px;
	position: absolute;
	bottom: 200px;
}

.mouse::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 2px;
    height: 8px;
    background-color: #fff;
    animation: mouse 1.3s infinite ease-in-out;
}

@keyframes mouse {
	from {
		height: 1px;
	}

	to {
		height: 8px;
	}
}

.controller {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 50%;
	transform: translateY(-50%,-50%);
}

.controller > button {
	width: 40px;
	height: 80px;
	background-color: #0003;
	outline: none;
	cursor: pointer;
	border:none;
	color: #fff;
	z-index: 1;
}

/* slider section */

/* about section */

.about-top {
	width: 100%;
	height: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.about-bottom {
	width: 100%;
	height: 50%;
	position: relative;
	background-image: url('../img/about-bg.png');
	background-size: cover;
	display: flex;
	justify-content: center;
}

.about-container {
	width: 1280px;
	height: 320px;
	position: relative;
	display: flex;
}

.about-top-text {
	width: 75%;
	height: 100%;
	position: relative;
}

.about-top-sub-title {
	font-size: 30px;
	color: #dfdfdf;
	font-weight: 500;
	margin-bottom: 10px;
}

.about-top-title {
	font-size: 50px;
	line-height: 82px;
	font-weight: 500;
}

.about-rect {
	width: 25%;
	height: 100%;
	position: relative;
	padding: 30px;
}

.about-stock {
	background-color: #333030;
}

.about-stock-title {
	color: #fff;
}

.about-change {
	top: 75px;
	font-size: 18px;
	color: #ff0101;
	position: relative;
	text-align:right;
	font-weight: 400;
}

.about-stock-num {
	color: #fff;
	font-size: 60px;
	font-weight: 100;
	position: relative;
	top: 70px;
	text-align: right;
}

.about-stock-date {
	font-size: 14px;
	color: #999;
	text-align: right;
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.about-news {
	width: 50%;
	height: 100%;
	position: relative;
	background-color: #fffc;
}

.about-news-title {
	position: relative;
	top: 30px;
	left: 30px;color: #999;
}

.news-category {
	background-color: #005ec5;
	border-radius: 13px;
	font-weight: 500;
	line-height: 26px;
	padding: 0 10px;
	font-size: 14px;
	display: inline-block;
	color: #fff;
	position: relative;
	left: 90px;
	top: 80px;
}

.news-text {
	position: relative;
	left: 90px;
	top: 90px;
}

.news-text > .title {
	font-size: 20px;
	font-weight: 500;
}

.news-text > .date {
	font-size: 14px;
	color: #666;
	margin-top: 2px;
}

.about-plus {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 20px;
	color: #b7b7b7;
	cursor: pointer;
}

.about-finance {
	background-color: rgba(2,94,196,0.9);
}

.about-finance-title {
	position: relative;
	font-weight: 300;
	color: #00ccff;
	font-size: 17px;
}

.about-finance-text {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	position: relative;
	top: 15px;
}

.about-notice {
	background-color: rgba(35,35,35,0.5);
	color: #fff;
}

.about-notice-title {
	position: relative;
	font-weight: 300;
	color: #fffa;
	font-size: 17px;
	margin-bottom: 20px;
}

.notice-item {
	width: 100%;
	height: 60px;
	margin-top: 10px;
	position: relative;
	border-bottom: 1px solid #fff6;
}

.notice-item:nth-child(4) {
	border-bottom: none;
}

.notice-item > .date {
	font-size: 14px;
	font-weight: 200;
}

.notice-item > .title {
	font-size: 16px;
	overflow: hidden;display: inline-block;
	max-width: 100%;text-overflow: ellipsis;white-space: nowrap;
}

/* about section end */

/* support section */

#support {
	background-color: #f7f7f7;
}

.support-top {
	width: 100%;
	height: 50%;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.support-container {
	margin: 0 auto;
	width: 1280px;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.support-top-text, .support-logo {
	position: relative;
	top: 50px;
}

.support-bottom {
	width: 100%;
	height: 50%;
	position: relative;
}

.support-icons {
	display: flex;
	width: 100%;
	height: 50%;
}

.support-icon:last-child {
	border-right: none;
}

.support-icon {
	width: 20%;
	height: 100%;
	border-right: 1px solid #ddd;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: opacity .4s;
	align-items: center;
}

.support-icon > img {
	transition: transform 1s;
}

.icon-text {
	color: #333030;
	font-size: 16px;
	margin-top: 30px;
}

/* support section end */

footer {
	width: 100%;
	height: 50%;
	background-color: #333;
}

.footer-container {
	position: relative;
	width: 1280px;
	height: 100%;
	color: #fff;
	margin: 0 auto;
}

.footer-nav {
	display: flex;
	position: relative;
	top: 30px;
}

.footer-nav > li {
	position: relative;
	padding-right: 20px;
	margin-right: 20px;
}

.footer-nav > li:not(:last-child)::after {
	content: '';
	display: block;
	height: 60%;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	background-color: #fff7;
	position: absolute;
	right: 0;
}

.footer-nav > li > a {
	color: #e7e7e7;
	font-size: 17px;
	font-weight: 300;
}

.footer-text {
	position: relative;
	top: 60px;
	color: #e9e9e9;
	font-size: 14px;
	font-weight: 300;
}

.footer-img {
	position: absolute;
	right: 0;
	font-size: 120px;
	top: 50%;
	transform: translateY(-50%);
}